<div class='container mt-5'>
  <div class='row '>
    <div class='col-md-8 offset-md-2'>
        <p class="text-center text-black font-weight-bold">ようこそ、OctCliqueへ</p>
        <p class="text-center text-black font-weight-bold">このサイトは、ゲームのコミュニティサイトです。</p>
        <p class="text-center text-black font-weight-bold">サイトに登録して仲間を見つけましょう！</p>
      </div>
    </div>
  </div>